# geometry files
*.stl
*.igs
*.msh
*.vtk
*.iv
*.xlsx
*.fig

# MAF files
.msf

# MATLAB
*.asv
Miranda2010_*ACS.m

# folders
__*
/_old
suppl_mat_gait_sims_comparison/Figures*
suppl_mat_gait_sims_comparison/Mat_Summaries
suppl_mat_gait_sims_comparison/support_functions
suppl_mat_gait_sims_comparison/*.m
/NMSBuilder_models

*.zip

# openSim files
*.log
*.osim
# used for checking intermediate steps of modelling
*.xml

#vim files
*.*~

